DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=jj_project

REDIS_HOST=localhost
REDIS_PORT=6379

KEY_FOR_JWT=changeme

RABBITMQ=amqp://guest:guest@localhost:5672//
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme

MEILI_MASTER_KEY=changeme
MEILI_HTTP_ADDR=localhost

MODE=DEV
