fastapi
uvicorn[standard]
pydantic>=2.0
pydantic-settings
SQLAlchemy>=2.0.0
alembic
asyncpg
psycopg[binary]
databases>=0.9.0
authx
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
cryptography
redis
httpx
python-dotenv
tortoise-orm
email-validator>=2.0.0